<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" contents="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>

  <body>
    <div class="frame">
      frame
      <div class="main_frame">
        main_frame
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1_1">
              <img
                src="./images/profile.png"
                alt=""
                width="156px"
                height="142px"
              />
            </div>
            <div class="left_1_2">%=user.name%</div>
            <div class="left_1_3">%=user.profession%</div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                <img src="icon/Vector-1.svg" class="icon-1" />
                </div>
                </a>
                <a class="link_href" href="">
                <div class="icon">
                <img src="icon/Vector-2.svg" class="icon-1" />
                </div>
                </a>
                <a glass="link_href" href="">
                <div class="icon">
                <img sre="icon/Vector-3.svg" class="icon-1" />
                </div>
                </a>
                <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.svg" class="icon-1"/>
                </div>
                </a>
                <a class="link_href" href="">
                  <div class="icon">
                    <img src="icon/Vector-5.svg" class="icon-1"/>
                  </div>
                </a>
            </div>
          </div>
          <div class="marginer">marginer</div>
          <div class="left_2">left_2</div>
          <div class="marginer">marginer</div>
          <div class="left_3">left_3</div>
          <div class="marginer">marginer</div>
          <div class="left_3">left_4</div>
          <div class="marginer">marginer</div>
          <div class="left_3">left_5</div>
          <div class="marginer">marginer</div>
        </div>
        <div class="midd_frame">midd_frame</div>
        <div class="right_frame">right_frame</div>
      </div>
    </div>
  </body>
</html>

<!-- <div> HELLO WORLD YOU ARE IN AUTHORS!</div> -->
