<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet"/>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min-js">
        
    </script>
 
</head>

<body>
<div class="frame"> frame
 <div class="main_frame"> main_frame
  <div class="left_frame">
    <div class="left_1">1</div>
    <div class="left_2">2</div>
    <div class="left_3">3</div>
  </div>
  <div class="midd_frame">midd_frame</div>
  <div class="right_frame">right_frame</div>
 </div>
</div>
</body>
</html>

<!-- <div> HELLO WORLD YOU ARE IN AUTHORS!</div> -->